.brands {
    margin-bottom: 185px;
    .title {
        margin-bottom: 42px;
    }
    p {
        max-width: 795px;
        line-height: 23px;
        letter-spacing: 0.075em;
        text-align: center;
        margin: 0 auto 48px;
    }
    &-items {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        .brand-item {
            width: 25%;
            height: 188px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #afafaf;
            box-sizing: border-box;
            overflow: hidden;
            border-top: 0;
            border-left: none;
            &:nth-child(+n+5) {
                border-bottom: none;
            }
            &:nth-child(4),
            &:nth-child(8),
            {
                border-right: none;
            }
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
    .slick-initialized .slick-slide {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;
    }
    .slick-dots {
        bottom: -88px;
    }
}
