@font-face {
    font-family: 'PT Sans Narrow';
    src: url('../fonts/PTSans-Narrow/PTSans-Narrow.eot');
    src: url('../fonts/PTSans-Narrow/PTSans-Narrow.woff2') format('woff2'), url('../fonts/PTSans-Narrow/PTSans-Narrow.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSans-Narrow/PTSans-Narrow.woff') format('woff'), url('../fonts/PTSans-Narrow/PTSans-Narrow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oranienbaum-Regular';
    src: url('../fonts/Oranienbaum-Regular/Oranienbaum-Regular.eot');
    src: url('../fonts/Oranienbaum-Regular/Oranienbaum-Regular.woff2') format('woff2'), url('../fonts/Oranienbaum-Regular/Oranienbaum-Regular.woff') format('woff'), url('../fonts/Oranienbaum-Regular/Oranienbaum-Regular.ttf') format('truetype'), url('../fonts/Oranienbaum-Regular/Oranienbaum-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url('../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.eot');
    src: url('../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.woff2') format('woff2'), url('../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.woff') format('woff'), url('../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.ttf') format('truetype'), url('../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url('../fonts/PlayfairDisplay-Regular/PlayfairDisplay-Regular.eot');
    src: url('../fonts/PlayfairDisplay-Regular/PlayfairDisplay-Regular.woff2') format('woff2'), url('../fonts/PlayfairDisplay-Regular/PlayfairDisplay-Regular.woff') format('woff'), url('../fonts/PlayfairDisplay-Regular/PlayfairDisplay-Regular.ttf') format('truetype'), url('../fonts/PlayfairDisplay-Regular/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaBookC';
    src: url('../fonts/FuturaBookC/FuturaBookC.eot');
    src: url('../fonts/FuturaBookC/FuturaBookC.woff2') format('woff2'), url('../fonts/FuturaBookC/FuturaBookC.woff') format('woff'), url('../fonts/FuturaBookC/FuturaBookC.ttf') format('truetype'), url('../fonts/FuturaBookC/FuturaBookC.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans.woff') format('woff'), url('../fonts/OpenSans/OpenSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
