.container {
    max-width: 1300px;
    margin: 0 auto;
    box-sizing: border-box;
}

.no-scroll {
    overflow: hidden;
}

.title {
    font-size: 2.625em;
    font-family: 'Oranienbaum-Regular';
    letter-spacing: 0.200em;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    &:before {
        position: absolute;
        left: 50%;
        z-index: -1;
        content: "";
        display: block;
        width: 1px;
        height: 50px;
        transform: rotate(40deg);
        background: #484848;
        top: -2px;
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        height: 58px;
        width: 50px;
        top: -9px;
        left: 50%;
        margin-left: -25px;
        border-top: 2px solid $black;
        border-bottom: 2px solid $black;
        background: url(../img/stripe.png) center no-repeat;
    }
}

label {
    position: relative;
    display: block;
    width: 196px;
    height: 24px;
}

input + label:after {
    position: absolute;
    left: 2px;
    bottom: 20px;
    display: block;
    width: 100%;
    height: 24px;
    content: '';
    border-bottom: 2px solid #000;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.sidebar-social a:hover,
.nav-social a:hover {
    color: #212121;
}
