//sidebar
.sidebar {
    z-index: 9999;
    position: fixed;
    width: 85px;
    left: 0;
    background: $black;
    top: 0;
    bottom: 0;
    h1 {
        font-size: 1.750em;
        font-family: 'PlayfairDisplay-Bold';
        position: absolute;
        transform: rotate(-90deg);
        top: 161px;
        letter-spacing: 0.200em;
        width: 100%;
        white-space: pre;
        a {
            text-transform: uppercase;
            color: $white;
            text-decoration: none;
        }
    }
    .sidebar-social {
        list-style: none;
        position: absolute;
        bottom: 2px;
        width: 100%;
        text-align: center;
        padding: 0;
        font-size: 1.625em;
        li {
            margin-bottom: 14px;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                transition: 0.3s ease;
                &:hover {
                    color: #828282;
                    transition: 0.3s ease;
                }
            }
        }
        a {
            color: $white;
        }
    }
}

.burger-icon {
    width: 30px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 25px;
    cursor: pointer;
    z-index: 10;
    margin-top: 21px;
    .stripe1,
    .stripe2,
    .stripe3 {
        height: 2px;
        width: 30px;
        background: $white;
        transition: all 0.6s ease-out;
        outline: none;
    }
    .stripe1 {
        position: absolute;
        top: 0px;
    }
    .stripe2 {
        position: absolute;
        top: 7px;
        width: 21px;
        left: 2px;
    }
    .stripe3 {
        position: absolute;
        top: 14px;
    }
}

.no-scroll {
    .nav {
        left: 0;
        transition: 0.6s ease;
        .burger-icon {
            top: 70px;
            right: 60px;
            width: 44px;
            height: 38px;
        }
    }
    .stripe1 {
        transform: rotate(-130deg);
        top: 17px;
        transition: all 0.5s ease;
        outline: none;
        height: 3px;
    }
    .stripe2 {
        transform: scale(0);
        transition: all 0.4s ease;
    }
    .stripe3 {
        transform: rotate(130deg);
        top: 17px;
        transition: all 0.5s ease;
        outline: none;
        height: 3px;
    }
}

//nav
.nav {
    position: relative;
    background: $black;
    width: 100%;
    top: 0;
    bottom: 0;
    left: -100%;
    position: fixed;
    transition: 0.3s ease;
    text-align: center;
    overflow: hidden;
    z-index: 9999;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    h1 {
        display: block;
        a {
            color: #ffffff;
            text-decoration: none;
        }
    }
    ul {
        display: flex;
        max-width: 1100px;
        margin: 0 auto;
        padding: 0;
        justify-content: space-around;
        flex-wrap: wrap;
        li {
            position: relative;
            display: block;
            display: block;
            width: 33%;
            max-height: 58px;
            margin: 0 0 90px 0;
            padding: 0;
            box-sizing: border-box;
            &:nth-child(1),
            &:nth-child(4) {
                text-align: right;
                padding-right: 60px;
            }
            &:nth-child(3),
            &:nth-child(6) {
                text-align: left;
                padding-left: 18px;
                &:after {
                    display: none;
                }
            }
            a {
                font-size: 3.625em;
                font-family: $font-title;
                text-decoration: none;
                color: $white;
                text-transform: uppercase;
                letter-spacing: 0.200em;
                transition: 0.3s ease;
                &:hover {
                    color: #828282;
                    transition: 0.3s ease;
                }
            }
            &:after {
                top: 50%;
                margin-top: -20px;
                content: "";
                display: block;
                position: absolute;
                width: 36px;
                height: 40px;
                right: 1px;
                background: url(../img/stripe.png) center no-repeat;
            }
        }
    }
    .nav-social {
        font-size: 1.625em;
        bottom: 2px;
        width: 100%;
        padding: 0;
        list-style: none;
        text-align: center;
        li {
            width: 29px;
            height: 29px;
            &:after {
                display: none;
            }
            a {
                &:hover {
                    color: #828282;
                    transition: 0.3s ease;
                }
            }
        }
    }
}
